Flask
Flask-Login
Flask-SQLAlchemy
SQLAlchemy
Flask-WTF
psycopg2-binary
gunicorn
APScheduler
google-cloud-storage
cloud-sql-python-connector[pg8000]

# Test dependencies
pytest
pytest-flask
pytest-cov
